<footer>
    <div class="section">
        <div class="container">
            <div class="row row-footer">
                <div class="col-12 col-sm-4">
                    <div class="text-block">Robert Joory <br> 23 rue des Francs Bourgeois <br> 75004 Paris
                        <br><br>0689922118<br>joory.robert@avocat-conseil.fr
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="text-block"><br><a class="aFooter" target="_blank"
                            href="https://consultation.avocat.fr/avocat-paris/robert-joory-37608.html">Prendre
                            un premier rendez-vous ou <br> poser une question juridique</a> <br><br> <a class="aFooter"
                            href="/Contact ">Nous contacter</a> <br><br>
                    </div>
                </div>

                <div class="col-12 col-sm-4">
                    <div class="text-block">Tous droits réservés <br><br><a class="aFooter" href='/mentions-legales'>
                            Mentions légales</a><br><br>Développé par Rachel
                        RAMADOUR</div>
                </div>
            </div>

        </div>
    </div>

    </div>
</footer>