<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <title>Robert Joory Avocat</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <img class='logo' src='/assets/Logo_Cabinet_Joory_Avocat.png'>      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href=" / ">ACCUEIL</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              COMPÉTENCES
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/droit-administratif ">Droit administratif</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/droit-immobilier ">Droit immobilier</a></li>
              <li><a class="dropdown-item" href="/droit-contrat ">Droit des contrats</a></li>
              <li><a class="dropdown-item" href="/recouvrement-et-execution ">Recouvrement et exécution</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li><a class="dropdown-item" href="/droit-etrangers ">Droit des étrangers</a></li>
              <li><a class="dropdown-item" href="/droit-asile ">Droit d'asile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li><a class="dropdown-item" href="/droit-logement ">Droit du logement</a></li>


            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-active" aria-current="page" href="/honoraires ">HONORAIRES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact "><button class="button-nav">NOUS CONTACTER</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="bghonoraires">
    <h1 class="titre"><br>Les honoraires<br><br></h1>
  </div>

  <div>
    <div class="content content-hon">

      <div>
        <div class="card-body-entete">


          <p>Les honoraires de l’Avocat sont déterminés en fonction du temps passé, d'un forfait ou, le cas échéant,
            d'honoraires de résultat.
            Des frais complémentaires peuvent trouver à s'appliquer, notamment en cas d'intervention d'huissiers,
            d'experts, de Confrères postulants, de déplacements, frais postaux, etc.
            <br> <br>

          </p>
          <p> Attaché au lien de confiance avec ses clients, Maître Robert JOORY prend un soin particulier à ce que la
            fixation de ses
            honoraires soit claire et transparente.

            Ils sont toujours convenus en amont, et conditionnés par l'accord préalable du justiciable.


            Ils sont fixés en fonction de la nature du dossier, de la complexité de l'affaire, des ressources du client
            et
            de l'urgence avec laquelle l'avocat doit intervenir.

          </p>

        </div>
        <div class="content-hon-button">
          <button class="btn button-hon dropdown-toggle" type="button" data-bs-toggle="collapse"
            data-bs-target="#tauxhoraire" aria-expanded="false" aria-controls="tauxhoraire">
            Les taux horaires </button>
          <div class="collapse" id="tauxhoraire">
            <div class="card card-body card-hon">
              <p> Certaines prestations de conseil, de représentation ou d'accompagnement font l'objet d'une
                tarification
                horaire.</p>
            </div>
          </div>

          <button class="btn button-hon dropdown-toggle" type="button" data-bs-toggle="collapse"
            data-bs-target="#forfaits" aria-expanded="false" aria-controls="collapseExample">
            Les forfaits </button>
          <div class="collapse" id="forfaits">
            <div class="card card-body card-hon">
              <p>Certaines procédures font l'objet d'une tarification forfaitaire.

              </p>
              <p> Cette pratique courante permet au justiciable et à l'avocat de se mettre d'accord sur un tarif,
                indépendemment du nombre d'heures passées.
              </p>
              <p>

                Dans le cas de collaborations régulières (exemple : recouvrements), il est également possible d'avoir
                recours à un forfait mensuel.
              </p>
            </div>
          </div>

          <button class="btn button-hon dropdown-toggle" type="button" data-bs-toggle="collapse"
            data-bs-target="#resultat" aria-expanded="false" aria-controls="collapseExample">
            L'honoraire de résultat </button>
          <div class="collapse" id="resultat">
            <div class="card card-body card-hon">
              <p> Dans certains types de dossiers, un honoraire de résultat peut trouver à s'appliquer, en complément
                d'un
                honoraire forfaitaire ou horaire. Il s'agit d'un pourcentage des sommes gagnées ou les pertes évitées.
              </p>
            </div>
          </div>

          <button class="btn button-hon dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#aj"
            aria-expanded="false" aria-controls="collapseExample">
            L'aide juridictionnelle </button>
          <div class="collapse" id="aj">
            <div class="card card-body card-hon">
              <p> Si vos ressources n'excèdent pas certains plafonds, et sous certaines conditions, vous pouvez
                bénéficier
                de
                l'Aide Juridictionnelle (AJ).</p>
              <p> L'aide juridictionnelle peut être acordée totalement ou partiellement. En cas d'attribution totale,
                aucun
                autre honoraire ne peut être appliqué. En cas d'attribution partielle, un honoraire complémentaire
                s'ajoutera.
              </p>
              <p> L'aide juridictionnelle n'est accordée que pour les procédures contentieuses. Il est donc inutile de
                le
                solliciter pour des procédures hors juridiction (exemple : accompagnement en préfecture).
              </p>
              <p> L'aide juridictionnelle est octroyée en fonction des ressources des client·e·s sans distinction de
                nationalité. Ainsi, les étranger·ère·s peuvent en bénéficier sous certaines conditions.
              </p>
              <p>Beaucoup de personnes pensent, à tort, qu'un avocat acceptant l'aide juridictionnelle sera moins
                compétent
                qu'un autre avocat qui le refuserait. Ceci est faux. Il s'agit le plus souvent d'un choix de l'avocat,
                parfois
                pour des raisons de principe liées à sa volonté qu'un égal accès à la Justice soit garanti pour
                toutes et tous.
              </p>
              <p>Pour estimer vos droits à bénéficier de l'aide juridictionnelle, <a class="aHon"
                  href="https://www.justice.fr/simulateurs/aide-juridictionnelle" target="_blank"> cliquez ici.</a>
              </p>

              <p> Pour faire une demande d'aide juridictionnelle, vous pouvez contacter votre structure
                d'accompagnement,
                votre assistant·e sociale ou votre avocat directement. La demande doit se faire via le formulaire dédié
                accessible <a class="aHon"
                  href="http://www.cnda.fr/content/download/35227/303869/version/2/file/Demande%20d%27aide%20juridictionnelle_cerfa12467-02.pdf"
                  target="_blank">en cliquant ici</a> en vous aidant, si nécessaire, de la notice <a class="aHon"
                  href="https://www.formulaires.service-public.fr/gf/getNotice.do?cerfaNotice=52133&cerfaFormulaire=15626"
                  target="_blank">téléchargeable
                  ici</a>. <br>Veillez à respecter les délais légaux et à joindre notre lettre d'acceptation en cas
                d'accord
                pour la prise en charge de ce dossier.
              </p>
            </div>
          </div>

          <button class="btn button-hon dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#pj"
            aria-expanded="false" aria-controls="collapseExample">
            La protection juridique </button>
          <div class="collapse" id="pj">
            <div class="card card-body card-hon">
              <p> Selon le contrat souscrit auprès de votre assureur, les honoraires d'avocats peuvent être pris en
                charge
                par celui-ci. Veillez à le consulter avant de prendre contact avec votre avocat.
              </p>
              <p> En cas de prise en charge des honoraires par votre assureur, vous ne pourrez pas bénéficier de l'aide
                juridictionnelle.
              </p>
            </div>
          </div>


        </div>

      </div>

    </div>




  </div>


  <%- include('footer') %>


</body>

</html>