<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <title>Robert Joory Avocat</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class='logo' src='/assets/Logo_Cabinet_Joory_Avocat.png'></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link nav-active" aria-current="page" href="#">ACCUEIL</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              COMPÉTENCES
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/droit-administratif.html">Droit administratif</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/droit-immobilier.html">Droit immobilier</a></li>
              <li><a class="dropdown-item" href="/droit-contrat.html">Droit des contrats</a></li>
              <li><a class="dropdown-item" href="/recouvrement-et-execution.html">Recouvrement et exécution</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li><a class="dropdown-item" href="/droit-etrangers.html">Droit des étrangers</a></li>
              <li><a class="dropdown-item" href="/droit-asile.html">Droit d'asile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li><a class="dropdown-item" href="/droit-logement.html">Droit du logement</a></li>


            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/honoraires.html">HONORAIRES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"><button class="button-nav">NOUS CONTACTER</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <div id="texteimg">
    <h1 class="titre"><br>Robert JOORY<br> Avocat au Barreau de Paris<br><br></h1>
  </div>

  <div>






  </div>

  <div>


    <div class="content">

      <div class="card-body-entete">

        <p>Le cabinet offre un service dans plusieurs domaines juridiques, dont notamment le droit administratif, droit
          des contrats, droit du recouvrement, droit
          immmobilier et du logement, droit de l’exécution.</p><br>
        <p>
          L’expérience développée par Robert JOORY depuis plusieurs années dans le cadre de son exercice individuel l’a
          en effet
          amené à comprendre l’importance de la <b>pluri-disciplinarité</b> afin d’assister au mieux ses clients sur
          l’ensemble des problèmes juridiques qu’ils peuvent rencontrer. </p> <br>

        <p> Convaincu de l’importance de la <b>relation de confiance</b> que doit nouer un avocat avec son client, il
          recherche pour chaque situation, au stade <b>pré-contentieux comme contentieux</b>, la stratégie
          “sur-mesure” et la plus adaptée, pour servir au mieux vos intérêts. </p> <br>

        <p>Diplômé en Droit administratif International à l’Université Paris II-Panthéon-Assas, et engagé aux côtés de
          plusieurs associations œuvrant en matière de droits de l'homme, il intervient particulièrement dans tous les
          aspects du <b>droit des étrangers</b>.


        </p>

      </div>

      <h2 class="sous-titre-accueil"> Votre avocat </h2>
      <p><img id="photo" src="/assets/Joory_Robert.jpeg" alt="photo de face de Maître Joory">
      <ul>
        <li>Depuis 2016 : Avocat au barreau de Paris</li>
        <li>Master de Droit international public à l'Université Paris II - Panthéon-Assas</li>
        <li>Licence de Droit à l'Université Paris II - Panthéon-Assas</li>

      </ul>


    </div>

    <h2 class="sous-titre-accueil"> Les compétences </h2>


    <div class="div-competences">
      <div class="row row-card">
        <div class="col-md-6 col-lg-4">
          <div class="card-index">
            <div class=" card-body">
              <h3 class="card-title">Droit administratif</h3>
              <hr>
              <p class="card-text">Conseil, recours administratifs,
                assistance devant les juridictions administratives.</p>
              <a href="/droit-administratif.html"><button class="button-card">En savoir plus</button></a>
            </div>
          </div>

        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-index">
            <div class=" card-body">
              <h3 class="card-title">Droit immobilier</h3>
              <hr>
              <p class="card-text">Achats, sinistres, copropriétés, baux commerciaux, d'entreprises et d'habitation.</p>
              <a href="/droit-immobilier.html"><button class="button-card">En savoir plus</button></a>
            </div>
          </div>

        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-index">
            <div class=" card-body">
              <h3 class="card-title">Droit des contrats</h3>
              <hr>
              <p class="card-text">Conseil, saisine, assistance et représentation devant le
                tribunal compétent.</p>
              <a href="/droit-contrat.html"><button class="button-card">En savoir plus</button></a>
            </div>
          </div>

        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-index">
            <div class=" card-body">
              <h3 class="card-title">Recouvrement et exécution</h3>
              <hr>
              <p class="card-text">Mise en demeure, saisine des tribunaux,
                procédure d'exécution, injonction de payer.</p>
              <a href="/recouvrement-et-execution.html"><button class="button-card">En savoir plus</button></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-index">
            <div class="card-body">
              <h3 class="card-title">Droit du logement</h3>
              <hr>
              <p class="card-text">Conseil, contentieux, relations avec le syndic, autres
                copropriétaires, voisins, DALO, DAHO. </p>
              <a href="/droit-logement.html"><button class="button-card">En savoir plus</button></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-index">
            <div class=" card-body">
              <h3 class="card-title">Droit des étrangers</h3>
              <hr>
              <p class="card-text">Droit au séjour et éloignement, OQTF, regroupement familial, visas, naturalisation,
                nationalité, état civil.</p>
              <a href="/droit-etrangers.html"><button class="button-card">En savoir plus</button></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-index">
            <div class=" card-body">
              <h3 class="card-title">Droit d'asile</h3>
              <hr>
              <p class="card-text">Assistance devant l'OFPRA et la CNDA, procédure Dublin, conditions matérielles
                d'accueil.</p>
              <a href="/droit-asile.html"><button class="button-card">En savoir plus</button></a>
            </div>
          </div>
        </div>


      </div>
    </div>

    <footer>
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="text-block-1">Robert Joory <br> 32 rue des Francs Bourgeois <br> 75004 Paris
                <br><br>0689922118<br>robertjoory@gmail.com
              </div>
            </div>
            <div class="col-sm-4">
              <div class="text-block-2"><br>Prendre rendez-vous <br><br> <a href="/contact">Nous contacter</a>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="text-block-3">Tous droits réservés <br><br>Mentions légales<br><br>Développé par Rachel
                RAMADOUR</div>
            </div>
          </div>

        </div>
      </div>

  </div>
  </footer>

</body>

</html>