<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <title>Robert Joory Avocat</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <img class='logo' src='/assets/Logo_Cabinet_Joory_Avocat.png'>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link nav-active" aria-current="page" href="#">ACCUEIL</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              COMPÉTENCES
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/droit-administratif">Droit administratif</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/droit-immobilier">Droit immobilier</a></li>
              <li><a class="dropdown-item" href="/droit-contrat">Droit des contrats</a></li>
              <li><a class="dropdown-item" href="/recouvrement-et-execution">Recouvrement et exécution</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li><a class="dropdown-item" href="/droit-etrangers">Droit des étrangers</a></li>
              <li><a class="dropdown-item" href="/droit-asile">Droit d'asile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li><a class="dropdown-item" href="/droit-logement">Droit du logement</a></li>


            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/honoraires">HONORAIRES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"><button class="button-nav">NOUS CONTACTER</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <div id="texteimg">
    <h1 class="titre"><br>Robert JOORY<br> Avocat au Barreau de Paris<br><br></h1>
  </div>

  <div>






  </div>

  <div>


    <div class="content">

      <div class="card-body-entete">

        <p>Le parcours de Maître Robert JOORY depuis plusieurs années en cabinets d’avocats puis dans le cadre de son
          exercice individuel, l’a amené à comprendre l’importance du lien de <b>confiance entre l’avocat et son
            client</b>,
          prérequis d’une défense maîtrisée et personnalisée des intérêts de ce dernier.
        </p> <br>
        <p>
          Fort de cette analyse et de son expérience, il recherche pour chaque situation, au stade <b>pré-contentieux
            comme
            contentieux</b>, la stratégie « sur-mesure » la plus adaptée afin de mettre en place une stratégie efficace.
        </p><br>
        <p>
          Pour cette raison, il intervient dans plusieurs disciplines afin d’assister et de suivre au mieux ses clients
          sur l’ensemble des problèmes juridiques qu’ils peuvent rencontrer.
        </p><br>
        Au-delà du suivi que la <b>pluri-disciplinarité</b> permet de mettre en place, cette compétence est un atout
        indispensable pour la compréhension globale des enjeux et problématiques juridiques auquel ses clients peuvent
        être soumis.
        </p><br>
        <p>
          Diplômé de l’Université Paris II-Panthéon-Assas en droit public international, il est engagé depuis de
          nombreuses années aux côtés de plusieurs associations œuvrant en matière de droits de l'homme.
        </p><br>
        <p>
          Créatif, tenace et efficace, il saura défendre au mieux vos intérêts selon la problématique rencontrée.
        </p>

      </div>

      <h2 class="sous-titre-accueil"> Votre avocat </h2>



      <div class="card mb-3 cv" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 col-photo">
            <img img-fluid rounded-start id="photo" src="/assets/Joory_Robert.jpeg" alt="photo de face de Maître Joory">
          </div>
          <div class="col-md-8 colcv">
            <!-- <div class="card-body"> -->
            <ul>
              <li>Depuis 2016 : Avocat au barreau de Paris</li>
              <li>Master de Droit international public à l'Université Paris II - Panthéon-Assas</li>
              <li>Licence de Droit à l'Université Paris II - Panthéon-Assas</li>

            </ul>
            <!-- </div> -->
          </div>
        </div>
      </div>

    </div>

    <h2 class="sous-titre-accueil"> Les compétences </h2>


    <div class="div-competences">
      <div class="row row-card rowcv">
        <div class="col-md-6 col-lg-4">
          <div class="card-index">
            <div class=" card-body">
              <h3 class="card-title">Droit administratif</h3>
              <hr>
              <p class="card-text">Conseil, recours administratifs,
                assistance devant les juridictions administratives.</p>
              <a href="/droit-administratif"><button class="button-card">En savoir plus</button></a>
            </div>
          </div>

        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-index">
            <div class=" card-body">
              <h3 class="card-title">Droit immobilier</h3>
              <hr>
              <p class="card-text">Achats, sinistres, copropriétés, baux commerciaux, d'entreprises et d'habitation.</p>
              <a href="/droit-immobilier"><button class="button-card">En savoir plus</button></a>
            </div>
          </div>

        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-index">
            <div class=" card-body">
              <h3 class="card-title">Droit des contrats</h3>
              <hr>
              <p class="card-text">Conseil, saisine, assistance et représentation devant le
                tribunal compétent.</p>
              <a href="/droit-contrat"><button class="button-card">En savoir plus</button></a>
            </div>
          </div>

        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-index">
            <div class=" card-body">
              <h3 class="card-title">Recouvrement et exécution</h3>
              <hr>
              <p class="card-text">Mise en demeure, saisine des tribunaux,
                procédure d'exécution, injonction de payer.</p>
              <a href="/recouvrement-et-execution"><button class="button-card">En savoir plus</button></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-index">
            <div class="card-body">
              <h3 class="card-title">Droit du logement</h3>
              <hr>
              <p class="card-text">Conseil, contentieux, relations avec le syndic, autres
                copropriétaires, voisins, DALO, DAHO. </p>
              <a href="/droit-logement"><button class="button-card">En savoir plus</button></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-index">
            <div class=" card-body">
              <h3 class="card-title">Droit des étrangers</h3>
              <hr>
              <p class="card-text">Droit au séjour et éloignement, OQTF, regroupement familial, visas, naturalisation,
                nationalité, état civil.</p>
              <a href="/droit-etrangers"><button class="button-card">En savoir plus</button></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card-index">
            <div class=" card-body">
              <h3 class="card-title">Droit d'asile</h3>
              <hr>
              <p class="card-text">Assistance devant l'OFPRA et la CNDA, procédure Dublin, conditions matérielles
                d'accueil.</p>
              <a href="/droit-asile"><button class="button-card">En savoir plus</button></a>
            </div>
          </div>
        </div>


      </div>
    </div>

    <%- include('footer') %>


</body>

</html>